p{
	color: black;
	font-family: sans-serif;
	text-align: center;
}
h1{
	color: blue;
	font-weight: bold;
	text-align: center;
}
h2{
	color: red;
	font-family: fantasy;
	text-align: center;
}
img{
	border-radius: 10px;
	max-width: 30%;
	max-height: 15%;
}
ol{
	text-align: center;
	list-style-type: lower-roman;
	list-style: inside;
}
ul{
	text-align: center;
	list-style: inside;
}
.parker{
	max-width: 40%;
	max-height: 30%;
}
.gari{
	max-width: 30%;
	max-height: 30%;
}
